1341. Movie Rating
Table: Movies

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| title         | varchar |
+---------------+---------+
movie_id is the primary key for this table.
title is the name of the movie.
 

Table: Users

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| name          | varchar |
+---------------+---------+
user_id is the primary key for this table.
 

Table: MovieRating

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| user_id       | int     |
| rating        | int     |
| created_at    | date    |
+---------------+---------+
(movie_id, user_id) is the primary key for this table.
This table contains the rating of a movie by a user in their review.
created_at is the user's review date. 
 

Write an SQL query to:

Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.
Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.

In [ ]:
# Write your MySQL query statement below
(SELECT
name as results
FROM Users LEFT JOIN MovieRating USING(user_id)
GROUP BY user_id
ORDER BY count(*) DESC, name ASC
LIMIT 1)
UNION ALL
(SELECT
title as results
FROM Movies LEFT JOIN MovieRating USING(movie_id)
WHERE created_at like "2020-02-%"
GROUP BY movie_id
ORDER BY avg(rating) DESC, title
LIMIT 1)

1867. Orders With Maximum Quantity Above Average
Table: OrdersDetails

+-------------+------+
| Column Name | Type |
+-------------+------+
| order_id    | int  |
| product_id  | int  |
| quantity    | int  |
+-------------+------+
(order_id, product_id) is the primary key for this table.
A single order is represented as multiple rows, one row for each product in the order.
Each row of this table contains the quantity ordered of the product product_id in the order order_id.
 

You are running an e-commerce site that is looking for imbalanced orders. An imbalanced order is one whose maximum quantity is strictly greater than the average quantity of every order (including itself).

The average quantity of an order is calculated as (total quantity of all products in the order) / (number of different products in the order). The maximum quantity of an order is the highest quantity of any single product in the order.

Write an SQL query to find the order_id of all imbalanced orders.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
with a as (
SELECT
    *, avg(quantity) as average, max(quantity) as max_q
FROM OrdersDetails
GROUP BY order_id
)

SELECT
order_id
FROM a
WHERE (SELECT max(average) FROM a) < max_q