1699. Number of Calls Between Two Persons

Table: Calls

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| from_id     | int     |

| to_id       | int     |

| duration    | int     |

+-------------+---------+

This table does not have a primary key, it may contain duplicates.
This table contains the duration of a phone call between from_id and to_id.
from_id != to_id
 

Write an SQL query to report the number of calls and the total call duration between each pair of distinct persons (person1, person2) where person1 < person2.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
from_id as person1, to_id as person2, count(*) as call_count, sum(duration) as total_duration
FROM Calls
GROUP BY LEAST(from_id, to_id), GREATEST(from_id, to_id)

1251. Average Selling Price

Table: Prices

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| product_id    | int     |

| start_date    | date    |

| end_date      | date    |

| price         | int     |

+---------------+---------+

(product_id, start_date, end_date) is the primary key for this table.
Each row of this table indicates the price of the product_id in the period from start_date to end_date.
For each product_id there will be no two overlapping periods. That means there will be no two intersecting periods for the same product_id.
 

Table: UnitsSold

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| product_id    | int     |

| purchase_date | date    |

| units         | int     |

+---------------+---------+

There is no primary key for this table, it may contain duplicates.
Each row of this table indicates the date, units, and product_id of each product sold. 
 

Write an SQL query to find the average selling price for each product. average_price should be rounded to 2 decimal places.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
product_id, ROUND(SUM(u.units*p.price)/sum(u.units),2) as average_price
FROM UnitsSold as u LEFT JOIN Prices as p USING(product_id)
WHERE u.purchase_date between p.start_date and p.end_date
GROUP BY product_id

1571. Warehouse Manager

Table: Warehouse

+--------------+---------+

| Column Name  | Type    |

+--------------+---------+

| name         | varchar |

| product_id   | int     |

| units        | int     |

+--------------+---------+

(name, product_id) is the primary key for this table.
Each row of this table contains the information of the products in each warehouse.
 

Table: Products

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| product_id    | int     |

| product_name  | varchar |

| Width         | int     |

| Length        | int     |

| Height        | int     |

+---------------+---------+

product_id is the primary key for this table.
Each row of this table contains information about the product dimensions (Width, Lenght, and Height) in feets of each product.
 

Write an SQL query to report the number of cubic feet of volume the inventory occupies in each warehouse.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
w.name as warehouse_name, SUM(p.Width*p.Length*p.Height*w.units) as volume
FROM Warehouse as w LEFT JOIN Products as p USING(product_id)
GROUP BY w.name

1445. Apples & Oranges

Table: Sales

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| sale_date     | date    |

| fruit         | enum    | 

| sold_num      | int     | 

+---------------+---------+

(sale_date, fruit) is the primary key for this table.
This table contains the sales of "apples" and "oranges" sold each day.
 

Write an SQL query to report the difference between the number of apples and oranges sold each day.

Return the result table ordered by sale_date.

In [ ]:
# Write your MySQL query statement below
SELECT
sale_date, SUM(CASE WHEN fruit = 'apples' THEN 1 ELSE -1 END * sold_num) as diff
FROM Sales
GROUP BY sale_date
ORDER BY sale_date ASC