1193. Monthly Transactions I

Table: Transactions

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| id            | int     |

| country       | varchar |

| state         | enum    |

| amount        | int     |

| trans_date    | date    |

+---------------+---------+

id is the primary key of this table.
The table has information about incoming transactions.
The state column is an enum of type ["approved", "declined"].
 

Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
date_format(trans_date, '%Y-%m') as month, country, count(*) as trans_count, SUM(if(state = 'approved', 1,0)) as approved_count, SUM(amount) as trans_total_amount, SUM(if (state = 'approved', amount,0)) as approved_total_amount
FROM Transactions
GROUP BY date_format(trans_date, '%Y-%m'), country

1633. Percentage of Users Attended a Contest

Table: Users

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| user_id     | int     |

| user_name   | varchar |

+-------------+---------+

user_id is the primary key for this table.
Each row of this table contains the name and the id of a user.
 

Table: Register

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| contest_id  | int     |

| user_id     | int     |

+-------------+---------+

(contest_id, user_id) is the primary key for this table.
Each row of this table contains the id of a user and the contest they registered into.
 

Write an SQL query to find the percentage of the users registered in each contest rounded to two decimals.

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.

In [ ]:
# Write your MySQL query statement below
WITH total_user AS (SELECT count(*) as cnt FROM Users)

SELECT
contest_id, ROUND(COUNT(*) / cnt * 100,2) as percentage
FROM Register r, total_user t
GROUP BY contest_id
ORDER BY percentage DESC, contest_id

1173. Immediate Food Delivery I

Table: Delivery

+-----------------------------+---------+

| Column Name                 | Type    |

+-----------------------------+---------+

| delivery_id                 | int     |

| customer_id                 | int     |

| order_date                  | date    |

| customer_pref_delivery_date | date    |

+-----------------------------+---------+

delivery_id is the primary key of this table.
The table holds information about food delivery to customers that make orders at some date and specify a preferred delivery date (on the same order date or after it).
 

If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.

Write an SQL query to find the percentage of immediate orders in the table, rounded to 2 decimal places.

In [ ]:
# Write your MySQL query statement below
SELECT ROUND(100*AVG(order_date = customer_pref_delivery_date), 2) AS immediate_percentage
FROM Delivery;

1211. Queries Quality and Percentage

Table: Queries

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| query_name  | varchar |

| result      | varchar |

| position    | int     |

| rating      | int     |

+-------------+---------+

There is no primary key for this table, it may have duplicate rows.
This table contains information collected from some queries on a database.
The position column has a value from 1 to 500.
The rating column has a value from 1 to 5. Query with rating less than 3 is a poor query.
 

We define query quality as:

The average of the ratio between query rating and its position.

We also define poor query percentage as:

The percentage of all queries with rating less than 3.

Write an SQL query to find each query_name, the quality and poor_query_percentage.

Both quality and poor_query_percentage should be rounded to 2 decimal places.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
query_name, ROUND(SUM(rating / position) / count(*),2) as quality, ROUND(sum(if(rating < 3, 1, 0)) / count(*) * 100, 2) as poor_query_percentage
FROM Queries
GROUP BY query_name