1607. Sellers With No Sales

Table: Customer

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| customer_id   | int     |

| customer_name | varchar |

+---------------+---------+

customer_id is the primary key for this table.
Each row of this table contains the information of each customer in the WebStore.
 

Table: Orders

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| order_id      | int     |

| sale_date     | date    |

| order_cost    | int     |

| customer_id   | int     |

| seller_id     | int     |

+---------------+---------+

order_id is the primary key for this table.
Each row of this table contains all orders made in the webstore.
sale_date is the date when the transaction was made between the customer (customer_id) and the seller (seller_id).
 

Table: Seller

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| seller_id     | int     |

| seller_name   | varchar |

+---------------+---------+

seller_id is the primary key for this table.
Each row of this table contains the information of each seller.
 

Write an SQL query to report the names of all sellers who did not make any sales in 2020.

Return the result table ordered by seller_name in ascending order.

In [ ]:
# Write your MySQL query statement below
SELECT
seller_name
FROM Seller s LEFT JOIN Orders o ON s.seller_id = o.seller_id and YEAR(o.sale_date) = '2020'
WHERE o.seller_id is null
ORDER BY seller_name

In [ ]:
# Write your MySQL query statement below
SELECT
seller_name
FROM Seller
WHERE seller_id NOT IN (SELECT seller_id FROM Orders WHERE year(sale_date) = '2020')
ORDER BY seller_name

619. Biggest Single Number

Table: MyNumbers

+-------------+------+

| Column Name | Type |

+-------------+------+

| num         | int  |

+-------------+------+

There is no primary key for this table. It may contain duplicates.
Each row of this table contains an integer.
 

A single number is a number that appeared only once in the MyNumbers table.

Write an SQL query to report the largest single number. If there is no single number, report null.

In [ ]:
# Write your MySQL query statement below
SELECT MAX(num) as num
FROM (SELECT num FROM MyNumbers GROUP BY num HAVING COUNT(num) = 1) as n

1112. Highest Grade For Each Student

Table: Enrollments

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| student_id    | int     |

| course_id     | int     |

| grade         | int     |

+---------------+---------+

(student_id, course_id) is the primary key of this table.
grade is never NULL.
 

Write a SQL query to find the highest grade with its corresponding course for each student. In case of a tie, you should find the course with the smallest course_id.

Return the result table ordered by student_id in ascending order.

In [ ]:
# Write your MySQL query statement below
SELECT
student_id, MIN(course_id) as course_id, grade
FROM Enrollments
WHERE (student_id, grade) in (SELECT
student_id, MAX(grade)
FROM Enrollments
GROUP BY student_id)
GROUP BY student_id, grade
ORDER BY student_id

1398. Customers Who Bought Products A and B but Not C

Table: Customers

+---------------------+---------+

| Column Name         | Type    |

+---------------------+---------+

| customer_id         | int     |

| customer_name       | varchar |

+---------------------+---------+

customer_id is the primary key for this table.
customer_name is the name of the customer.
 

Table: Orders

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| order_id      | int     |

| customer_id   | int     |

| product_name  | varchar |

+---------------+---------+

order_id is the primary key for this table.
customer_id is the id of the customer who bought the product "product_name".
 

Write an SQL query to report the customer_id and customer_name of customers who bought products "A", "B" but did not buy the product "C" since we want to recommend them to purchase this product.

Return the result table ordered by customer_id.

In [ ]:
# Write your MySQL query statement below
SELECT
customer_id, customer_name
FROM Orders LEFT JOIN Customers USING(customer_id)
WHERE 
customer_id in (SELECT customer_id FROM Orders WHERE product_name = "A") and
customer_id in (SELECT customer_id FROM Orders WHERE product_name = "B") and 
customer_id not in (SELECT customer_id FROM Orders WHERE product_name = "C")
GROUP BY customer_id, customer_name