1440. Evaluate Boolean Expression

Table Variables:

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| name          | varchar |

| value         | int     |

+---------------+---------+

name is the primary key for this table.
This table contains the stored variables and their values.
 

Table Expressions:

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| left_operand  | varchar |

| operator      | enum    |

| right_operand | varchar |

+---------------+---------+

(left_operand, operator, right_operand) is the primary key for this table.
This table contains a boolean expression that should be evaluated.
operator is an enum that takes one of the values ('<', '>', '=')
The values of left_operand and right_operand are guaranteed to be in the Variables table.
 

Write an SQL query to evaluate the boolean expressions in Expressions table.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
  left_operand, 
  operator, 
  right_operand,
  CASE  WHEN operator = '>' AND v.value > v1.value THEN 'true'
        WHEN operator = '=' AND v.value = v1.value THEN 'true'
        WHEN operator = '<' AND v.value < v1.value THEN 'true'
  ELSE "false" END AS value
FROM 
  Expressions e 
  LEFT JOIN Variables v ON e.left_operand = v.name
  LEFT JOIN Variables v1 ON e.right_operand = v1.name

1264. Page Recommendations

Table: Friendship

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user1_id      | int     |
| user2_id      | int     |
+---------------+---------+
(user1_id, user2_id) is the primary key for this table.
Each row of this table indicates that there is a friendship relation between user1_id and user2_id.
 

Table: Likes

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| user_id     | int     |
| page_id     | int     |
+-------------+---------+
(user_id, page_id) is the primary key for this table.
Each row of this table indicates that user_id likes page_id.
 

Write an SQL query to recommend pages to the user with user_id = 1 using the pages that your friends liked. It should not recommend pages you already liked.

Return result table in any order without duplicates.

In [ ]:
# Write your MySQL query statement below
SELECT
distinct page_id as recommended_page
FROM Likes
WHERE page_id not in (SELECT page_id from Likes where user_id = 1) and
user_id in
(
    SELECT user1_id FROM Friendship WHERE user2_id = 1
    UNION
    SELECT user2_id FROM Friendship WHERE user1_id = 1
)

570. Managers with at Least 5 Direct Reports

Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
id is the primary key column for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.
 

Write an SQL query to report the managers with at least five direct reports.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
name
FROM Employee
WHERE id in 
(
    SELECT managerID 
    FROM employee 
    GROUP BY managerID 
    HAVING count(managerID) >= 5
)

1303. Find the Team Size

Table: Employee

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| employee_id   | int     |
| team_id       | int     |
+---------------+---------+
employee_id is the primary key for this table.
Each row of this table contains the ID of each employee and their respective team.
 

Write an SQL query to find the team size of each of the employees.

Return result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
e.employee_id, team_size
FROM Employee e, (SELECT team_id, count(*) as team_size FROM Employee GROUP BY team_id) n
WHERE n.team_id = e.team_id