1280. Students and Examinations
Table: Students

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| student_id    | int     |
| student_name  | varchar |
+---------------+---------+
student_id is the primary key for this table.
Each row of this table contains the ID and the name of one student in the school.
 

Table: Subjects

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| subject_name | varchar |
+--------------+---------+
subject_name is the primary key for this table.
Each row of this table contains the name of one subject in the school.
 

Table: Examinations

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| student_id   | int     |
| subject_name | varchar |
+--------------+---------+
There is no primary key for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID student_id attended the exam of subject_name.
 

Write an SQL query to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.

In [ ]:
# Write your MySQL query statement below
SELECT
student_id, student_name, subject_name, IFNULL(attended_exams,0) attended_exams
FROM Students
CROSS JOIN Subjects
LEFT JOIN (SELECT student_id, subject_name, count(*) attended_exams FROM Examinations GROUP BY student_id, subject_name) as n USING (student_id, subject_name)
ORDER BY student_id, subject_name

1501. Countries You Can Safely Invest In
Table Person:

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| id             | int     |
| name           | varchar |
| phone_number   | varchar |
+----------------+---------+
id is the primary key for this table.
Each row of this table contains the name of a person and their phone number.
Phone number will be in the form 'xxx-yyyyyyy' where xxx is the country code (3 characters) and yyyyyyy is the phone number (7 characters) where x and y are digits. Both can contain leading zeros.
 

Table Country:

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| name           | varchar |
| country_code   | varchar |
+----------------+---------+
country_code is the primary key for this table.
Each row of this table contains the country name and its code. country_code will be in the form 'xxx' where x is digits.
 

Table Calls:

+-------------+------+
| Column Name | Type |
+-------------+------+
| caller_id   | int  |
| callee_id   | int  |
| duration    | int  |
+-------------+------+
There is no primary key for this table, it may contain duplicates.
Each row of this table contains the caller id, callee id and the duration of the call in minutes. caller_id != callee_id
 

A telecommunications company wants to invest in new countries. The company intends to invest in the countries where the average call duration of the calls in this country is strictly greater than the global average call duration.

Write an SQL query to find the countries where this company can invest.

Return the result table in any order.

In [ ]:
SELECT  co.name AS country
FROM  Person p
JOIN
Country co  ON SUBSTRING(phone_number,1,3) = country_code
JOIN
Calls c ON p.id IN (c.caller_id, c.callee_id)
GROUP BY  co.name
HAVING  AVG(duration) > (SELECT AVG(duration) FROM Calls)

184. Department Highest Salary
Table: Employee

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key column for this table.
departmentId is a foreign key of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
 

Table: Department

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key column for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
 

Write an SQL query to find employees who have the highest salary in each of the departments.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
d.name as Department, e.name as Employee, salary
FROM Employee e
LEFT JOIN Department d on e.departmentId = d.id
where (salary, departmentId) in (SELECT max(salary), departmentId FROM Employee GROUP BY departmentId)

In [ ]:
# Write your MySQL query statement below
SELECT
d.name Department, e.name Employee, salary
FROM (select *, max(salary) OVER(PARTITION BY departmentId) max_salary FROM Employee) as e
JOIN Department d ON d.id = e.departmentId
WHERE salary = max_salary

580. Count Student Number in Departments
Table: Student

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| student_id   | int     |
| student_name | varchar |
| gender       | varchar |
| dept_id      | int     |
+--------------+---------+
student_id is the primary key column for this table.
dept_id is a foreign key to dept_id in the Department tables.
Each row of this table indicates the name of a student, their gender, and the id of their department.
 

Table: Department

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| dept_id     | int     |
| dept_name   | varchar |
+-------------+---------+
dept_id is the primary key column for this table.
Each row of this table contains the id and the name of a department.
 

Write an SQL query to report the respective department name and number of students majoring in each department for all departments in the Department table (even ones with no current students).

Return the result table ordered by student_number in descending order. In case of a tie, order them by dept_name alphabetically.

In [ ]:
# Write your MySQL query statement below
SELECT
dept_name, count(student_name) as student_number
FROM Department d
LEFT JOIN Student s USING(dept_id)
GROUP BY dept_name
ORDER BY student_number DESC, dept_name