1294. Weather Type in Each Country
Table: Countries

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| country_id    | int     |
| country_name  | varchar |
+---------------+---------+
country_id is the primary key for this table.
Each row of this table contains the ID and the name of one country.
 

Table: Weather

+---------------+------+
| Column Name   | Type |
+---------------+------+
| country_id    | int  |
| weather_state | int  |
| day           | date |
+---------------+------+
(country_id, day) is the primary key for this table.
Each row of this table indicates the weather state in a country for one day.
 

Write an SQL query to find the type of weather in each country for November 2019.

The type of weather is:

Cold if the average weather_state is less than or equal 15,
Hot if the average weather_state is greater than or equal to 25, and
Warm otherwise.
Return result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
country_name, 
CASE
    WHEN sum(weather_state)/count(weather_state) <= 15 THEN 'Cold'
    WHEN sum(weather_state)/count(weather_state) >= 25 THEN 'Hot'
    ELSE 'Warm'
END as weather_type
FROM Weather LEFT JOIN Countries USING(country_id)
WHERE year(day) = '2019' and month(day) = '11'
GROUP BY country_id

626. Exchange Seats
Table: Seat

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| student     | varchar |
+-------------+---------+
id is the primary key column for this table.
Each row of this table indicates the name and the ID of a student.
id is a continuous increment.
 

Write an SQL query to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.

Return the result table ordered by id in ascending order.

In [ ]:
# Write your MySQL query statement below
SELECT id,
CASE WHEN id%2 = 0 THEN
LAG(student,1) OVER (ORDER BY id)
WHEN id%2 = 1 THEN
IFNULL(LEAD(student,1) OVER (ORDER BY id),student)
END AS student
FROM Seat

1783. Grand Slam Titles
Table: Players

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| player_id      | int     |
| player_name    | varchar |
+----------------+---------+
player_id is the primary key for this table.
Each row in this table contains the name and the ID of a tennis player.
 

Table: Championships

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| year          | int     |
| Wimbledon     | int     |
| Fr_open       | int     |
| US_open       | int     |
| Au_open       | int     |
+---------------+---------+
year is the primary key for this table.
Each row of this table contains the IDs of the players who won one each tennis tournament of the grand slam.
 

Write an SQL query to report the number of grand slam tournaments won by each player. Do not include the players who did not win any tournament.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
WITH CTE AS
(
SELECT
    Wimbledon as won
FROM Championships
    UNION ALL
SELECT
    Fr_open as won
FROM Championships
    UNION ALL
SELECT
    US_open as won
FROM Championships
    UNION ALL
SELECT
    Au_open as won
FROM Championships
)

SELECT
player_id, player_name, COUNT(won) as grand_slams_count
FROM 
Players p JOIN CTE c ON(p.player_id = c.won)
GROUP BY player_id, player_name

1164. Product Price at a Given Date
Table: Products

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| product_id    | int     |
| new_price     | int     |
| change_date   | date    |
+---------------+---------+
(product_id, change_date) is the primary key of this table.
Each row of this table indicates that the price of some product was changed to a new price at some date.
 

Write an SQL query to find the prices of all products on 2019-08-16. Assume the price of all products before any change is 10.

Return the result table in any order.

In [ ]:
SELECT product_id, FIRST_VALUE(new_price) OVER(PARTITION BY product_id ORDER BY change_date DESC) AS price
FROM Products
WHERE change_date <= '2019-08-16'
UNION
SELECT DISTINCT product_id, 10 AS price
FROM Products
WHERE product_id NOT IN (SELECT product_id FROM Products WHERE change_date <= '2019-08-16')