603. Consecutive Available Seats
Table: Cinema

+-------------+------+
| Column Name | Type |
+-------------+------+
| seat_id     | int  |
| free        | bool |
+-------------+------+
seat_id is an auto-increment primary key column for this table.
Each row of this table indicates whether the ith seat is free or not. 1 means free while 0 means occupied.
 

Write an SQL query to report all the consecutive available seats in the cinema.

Return the result table ordered by seat_id in ascending order.

The test cases are generated so that more than two seats are consecutively available.

In [ ]:
# Write your MySQL query statement below
SELECT DISTINCT t1.seat_id as seat_id
FROM cinema as t1 
join cinema as t2 
ON abs(t1.seat_id - t2.seat_id) = 1 AND 
t1.free =1 AND t2.free =1 
ORDER BY t1.seat_id

In [ ]:
# Write your MySQL query statement below
WITH free_seats AS(
    SELECT seat_id,
            free,
            LEAD(free) OVER (ORDER BY seat_id) AS is_next_seat_free,
            LAG(free) OVER (ORDER BY seat_id) AS is_prev_seat_free
    FROM Cinema )
SELECT seat_id
FROM free_seats
WHERE (free IS TRUE AND is_next_seat_free IS TRUE) OR (free IS TRUE AND is_prev_seat_free IS TRUE)

1731. The Number of Employees Which Report to Each Employee
Table: Employees

+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| employee_id | int      |
| name        | varchar  |
| reports_to  | int      |
| age         | int      |
+-------------+----------+
employee_id is the primary key for this table.
This table contains information about the employees and the id of the manager they report to. Some employees do not report to anyone (reports_to is null). 
 

For this problem, we will consider a manager an employee who has at least 1 other employee reporting to them.

Write an SQL query to report the ids and the names of all managers, the number of employees who report directly to them, and the average age of the reports rounded to the nearest integer.

Return the result table ordered by employee_id.

In [ ]:
# Write your MySQL query statement below
SELECT
n.employee_id, name, reports_count, average_age
FROM Employees e LEFT JOIN
(SELECT
reports_to as employee_id, count(*) as reports_count, round(avg(age),0) as average_age
FROM Employees
GROUP BY reports_to
) n USING(employee_id)
WHERE n.employee_id is not null
ORDER BY n.employee_id

1747. Leetflex Banned Accounts
Table: LogInfo

+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| account_id  | int      |
| ip_address  | int      |
| login       | datetime |
| logout      | datetime |
+-------------+----------+
There is no primary key for this table, and it may contain duplicates.
The table contains information about the login and logout dates of Leetflex accounts. It also contains the IP address from which the account was logged in and out.
It is guaranteed that the logout time is after the login time.
 

Write an SQL query to find the account_id of the accounts that should be banned from Leetflex. An account should be banned if it was logged in at some moment from two different IP addresses.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
with n as(
  SELECT *, lead(login) OVER (PARTITION BY account_id ORDER BY login) as next_login, lead(ip_address) OVER (PARTITION BY account_id ORDER BY login) as next_ip
  FROM LogInfo
)

SELECT
distinct account_id
FROM n
WHERE (next_login between login and logout) and next_ip != ip_address
order by account_id

In [ ]:
# Write your MySQL query statement below
SELECT 
  DISTINCT L1.account_id 
FROM LogInfo L1
JOIN LogInfo L2
  ON L1.account_id = L2.account_id 
  AND L1.ip_address <> L2.ip_address           
WHERE (L1.login BETWEEN L2.login AND L2.logout)

181. Employees Earning More Than Their Managers
Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |
+-------------+---------+
id is the primary key column for this table.
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

Write an SQL query to find the employees who earn more than their managers.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
e.name as Employee
FROM Employee m
JOIN Employee e ON m.id = e.managerID
WHERE e.salary > m.salary